.body {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.map-container {
  width: 100%;     /* 너비 제한 */
  height: 100%;    /* 높이 제한 */
  border: 2px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
}
