.App {
  display: flex;
  flex-direction: column;
  height: 100vh; /* 최소 높이만 지점해서 overflow 가능*/
}

/* Header와 Footer는 자동 높이, 가운데만 채움 */
.main-content {
  display: flex;
  flex: 1;            /* 남은 영역 전부 차지 */
  overflow: hidden;   /* 스크롤 제어는 내부에서 */
  min-height: 0;
  /* padding-top: 1px;  */
}