.App {
  display: flex;
  flex-direction: column;
  height: 100vh; /* 화면 전체 높이 */
}

/* 바디 + 사이드바 부분 */
.main-content {
  display: flex;
  flex: 1;            /* 남은 영역 전부 차지 */
  overflow: hidden;   /* 스크롤 제어는 내부에서 */
}
