.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2000; /* 중요: 모달보다 높아야 SweetAlert도 보임 */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  width: 90%;
  max-width: 1000px;
  background: white;
  border-radius: 10px;
  padding: 20px;
  position: relative;
  max-height: 90vh;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.log-close-btn {
  position: absolute;
  top: 17px;
  right: 17px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}